if SHIELD_DESKINY_LEFT

config ZMK_KEYBOARD_DESKINY
    default "DESKINY"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif 

if SHIELD_KLOR_LEFT || SHIELD_KLOR_RIGHT

    config ZMK_SPLIT
        default y

endif 